
.color {
    display: inline-block;
    width: 65px;
    height: 65px;
    border: black;
    border-width: 1px;
    border-style: solid;
    border-color: black;
    border-radius: 15px;
    margin: 3px;
}

.pixel {
    display: inline-block;
    background-color: white;
    width: 40px;
    height: 40px;
    border: black;
    border-width: 1px;
    border-style: solid;
    border-color: black;
    border-radius: 15px;
    margin: 3px;
}

.linha-quadro {
    display:list-item;
}

#color-selected {
    display: block;
}

.marcador {
    display: inline-block;
    width: 65px;
    height: 15px;
    border: white;
    border-width: 1px;
    border-style: solid;
    border-color: white;
    border-radius: 25px;
    margin: 3px;
}

/*
.selected {
}
*/
